@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext);


@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MyriadPro.otf);
}
 
@font-face{
    font-family: MyriadPro-Semibold;
    src: url(../fonts/MyriadPro-Semibold.otf);
}

@font-face {
    font-family: m_Brody;
    src: url(../fonts/m_Brody.ttf);
}

*{
	margin: 0;
	padding: 0;
}
body {
    background: url('../assets/images/fon-middle.png') repeat;
    min-width: 320px;
}
.container {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
}

header {
    border-top: 12px solid #33333B;
    background: url('../assets/images/fon-top.png');    
}

.wrapper {
    height: 439px;
    position: relative;
    width: 998px;
    margin: 0px auto;
    /* background: radial-gradient(rgba(200, 200, 220, 0.3) 5%, rgba(0, 0, 0, 0) 60%) 194px 0 no-repeat; */
    /* background: -webkit-radial-gradient(center, ellipse cover, #feffff 0%,#d2ebf9 100%); */
    background: radial-gradient(ellipse at bottom, #3C3F44 0%, rgba(0, 0, 0, 0) 70%) no-repeat;
}

.catwill {
    float: left;
    width: 263px;
    height: 97px;
    background: url('../assets/images/CatWill-full.png') no-repeat scroll 17px 4px / 229px 79px #33333B;
    border-radius: 0px 0px 18px 18px;
}
.social-network{
    float: right;
    margin: 47px 82px 0px 0px;
}
.social-network a{
    display: block;
    margin-left: 40px;
    width: 58px;
    height: 58px;
    float: left;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px black;
}
.social-network .twitter{
    background: url('../assets/images/twitter.png') no-repeat 15px 18px #33333B;
}
.social-network .facebook{
    background: url('../assets/images/facebook.png') no-repeat 20px 14px #33333B;
}
.social-network .mail{
    background: url('../assets/images/mail.png') no-repeat 15px 18px #33333B;
}
.social-network .vk{
    background: url('../assets/images/vk.png') no-repeat 8px 18px #1e1e22;
}
.stories {
    display: none;
}
.scary-stories{
    background: url('../assets/images/book.png') no-repeat scroll 0px 5px / 88px 88px;
    padding: 0px 0px 0px 100px;
    font-size: 44px;
    line-height: 48px;
    font-family: "Roboto Condensed";
    text-shadow: 2px 3px 0px #020202;
    color: #D0A22B;
}
.clear{
    clear: both;
    float: none;
}

.head-block {
    float: left;
    margin: 85px 0px 0px 0px;
    width: 356px;
}
header .wrapper{
    
}
.splitter {
    margin-top: 10px;
    position: relative;
/*    border: 1px solid red;*/
}
.head-block .split{
    padding-top: 3px;
    font-size: 17px;
    text-align: center;
    color: #525051;
    float: left;
    padding: 0px 3px;
    margin-top: 3px;
}
.left{
    float: left;
    width: 64px;
    height: 1px;
    margin: 12px 0px;
    border: 0;
    background-color: #525051;
    color: #525051;
}

.right{
    float: left;
    width: 64px;
    height: 1px;
    margin: 12px 0px;
    border: 0;
    background-color: #525051;
    color: #525051;
}

.ask {
    color: #BCBAAB;
    margin-top: 49px;
}

.content{
    position: relative;
    width: 998px;
    margin: 0px auto;
}
.app-store {
    width: 236px;
    margin-top: 40px;
}
.app-store .text{
    text-align: center;
    color: #87847E;
    font: bold 18px/30px'PT Sans';
}



.app-store .t1 {
    background: url(../assets/images/phone-orange.png) no-repeat 28px 9px / 27px 50px, linear-gradient(to bottom, #C38B00, #EFDA79);
    border: 1px solid #FFB577;
    box-shadow: #A67A08 0 2px 1px;
    color: #C48D00;
    margin-bottom: 11px;
    margin-top: 8px;
}

.app-store .t1:hover {
    background: url(../assets/images/phone-white.png) no-repeat 28px 9px / 27px 50px, linear-gradient(to bottom, #EFDA79, #C38B00);
    border: 1px solid #FFB577;
    box-shadow: #A67A08 0 2px 1px;
    color: white;
}

.app-store a {
    text-decoration: none;
    font-family: 'Myriad Pro';
    padding: 5px 0 0 68px;
    text-align: left;
    border-radius: 10px;
    display: block;
    height: 64px;
}
.app-store span {
  font: 33px/28px "MyriadPro-Semibold"; 
}

.app-store .t2 {
    background: url(../assets/images/phone-grey.png) no-repeat 28px 9px / 27px 50px, linear-gradient(to bottom, #9C9586, #CBC5BD);
    border: 1px solid #D3CCBE;
    box-shadow: #9B8E72 0 2px 1px ;
    color: #9F9589;
    margin-top: 11px;
    margin-bottom: 20px;
}

.app-store .t2:hover {
    background: url(../assets/images/phone-white.png) no-repeat 28px 9px / 27px 50px, linear-gradient(to bottom, #CBC5BD, #9C9586);
    border: 1px solid #D3CCBE;
    box-shadow: #9B8E72 0 2px 1px ;
    color: white;
}
.splitter2 {
    color: #87847E;
    text-align: center;
    font: 30px m_Brody;
}

.splitter2:before, .splitter2:after{
    content: "";
    display: block;
    height: 1px;
    width: 92px;
    position: relative;
    background-color: #D7D7D7;
    top: 18px;
}
.splitter2:before{
    float: left;
}
.splitter2:after{
    float: right;
}
.see{
position: absolute;
display: inline-block;
width: 140px;
font: normal 28px/28px 'm_brody';
color: #626570;
/*top: -728px;
left: 325px;*/
top: -321px;
left: -5px;
}
.see:after{
    position: absolute;
    content: '';
    background: url('../assets/images/arrow.png') no-repeat;
    width: 35px;
    height: 30px;
    bottom: 11px;
    right: -7px;
}
.screens{
    position: relative;
    top: -407px;
    margin-left: 330px;
    /* left: 330px; */
}

.choice{
    display: none;
    
}
.iPad{
    position: absolute;
    left: 150px;
    top: -250px;
}
.iPhone{
    position: absolute;
}
.slide-indicators li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #85837d;
    margin-left: 9px;
}
.iPad .slide-indicators{
    margin: 2px 186px;
}

.iPhone .slide-indicators{
    margin: 2px 38px;
}
.features{
    margin-top: 162px;
}
.features div{
    float: left;
}
.feature{
   /* display: inline-block;*/
    /*height: 200px;*/
    width: 190px;
    height: 190px;
    /*margin: 0px;*/
    text-align: center;
    /*background-color: yellow;*/
    /*margin-left: 8px;*/
    margin: 0 4px;
    /*border: 1px solid black;*/
}
.feature h3{
    font: normal 30px/30px 'Roboto Condensed';
    color:#524F50; 
    letter-spacing: -1px;
    margin-top: 10px;
}
.feature p{
    color:#87847E;
    margin-top: 18px;
    letter-spacing: 0px;
    
    font: normal 18px/24px 'PT Sans';
}
.like h3{
    margin-top: 15px;
}
.shadow{
    width: 998px;
    height: 24px;
    background: url('../assets/images/shadow.png') 0px 0px/998px 24px no-repeat;
    margin-top: 42px;
}
h2{
    font: normal 43px/40px 'Roboto Condensed';
    text-align: center;
    letter-spacing: -0.4px;
    color: #A67A08;
}

.info p{
    color: #524F50;
    font: 20px/30px 'PT Sans';
    text-align: justify;
    margin-top: 35px;
}
.info{
    position: relative;
}
.info  a{
    color:#A67A08;
    font-style: italic;
    font-family:normal 'PT Sans'
}
.info :last-child{
    margin-bottom: 65px;
}

footer{
    background: url('../assets/images/fon-top.png'); 
    width: 100%;
    /*position: relative;*/
}
.footer-wrapper{
    height: 258px;
    position: relative;
    margin: 0 auto;
    width: 998px;  
}
.liked{
    float: right;
    margin-top: 102px;
    position: relative;
}
.liked a{
    text-align: center;
    text-decoration: none;
    color: #BEBBAC;
    font-size: 12px;
    display: block;
    float:left;
    width: 54px;
    height: 54px;
    background-color: yellow;
    margin-left: 45px;
}
.contact-us{
    width: 300px;
    position: relative; 
    /* margin-top: 35px; */ 
    font: normal 23px 'PT Sans';
    color: #616060;

    top:57px;
}

.contact-us a{
    /* margin-top: 25px; */
    display: block;
    width: 267px;
    height: 41px;
    border-radius: 8px;
    background-color: #2F2F39;
    text-align: center;
    text-decoration: none;
    color: #808088;
    font-size: 21px;
    padding-top: 11px;

    position: relative;
    top: 25px;
}

.liked .twitter{
    background: url('../assets/images/twitter_link.png') no-repeat;
}

.liked .vk {
    background: url('../assets/images/vk_link.png') no-repeat;
}

.liked .facebook {
    background: url('../assets/images/facebook_link.png') no-repeat;
}

.liked .twitter {
    background: url('../assets/images/twitter_link.png') no-repeat;
}

.liked .plus {
    background: url('../assets/images/plus_link.png') no-repeat;
}

.liked .mail {
    background: url('../assets/images/mail_link.png') no-repeat;
}

.dontsee{
    display: none;
}